<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <mat-card-content>
    <p>{{comment.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions" align="end">
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="likeComment()">
      <mat-icon [matBadge]="CounterlikeComment()" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="CounterlikeComment() === 0" aria-label="try">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="dislikeComment()">
      <mat-icon [matBadge]="CounterDislikeComment()" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="CounterDislikeComment() === 0" aria-label="up">thumb_down</mat-icon>
    </button>

  </mat-card-actions>
</mat-card>