<mat-toolbar color="primary">
  <div class="header">
    <div class="header-content title" [routerLink]="['/']">
      <img src="/assets/thread.png">
      Thread.NET
    </div>
    <div *ngIf="!authorizedUser" class="header-content auth-area">
      <p (click)="openAuthDialog(dialogType.SignIn)">Sign In</p> |
      <p (click)="openAuthDialog(dialogType.SignUp)">Sign Up</p>
    </div>
    <div *ngIf="authorizedUser" class="header-content" [matMenuTriggerFor]="menu">
      <img class="avatar avatar-size" src="{{authorizedUser.avatar}}" alt="Ava">
      <div class="user-area">
        <div>{{authorizedUser.userName}}</div>
        <mat-menu #menu="matMenu" xPosition="before">
          <div mat-menu-item [routerLink]="['/profile']">Go to profile</div>
          <div mat-menu-item (click)="logout()"><u>Logout</u></div>
          <div mat-menu-item><u>Reset password</u></div>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>